/* Contenedor principal */
.container {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  /* Estilo general para las secciones del formulario */
  .section {
    display: flex;
    gap: 20PX;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  /* Etiquetas de formulario y otros elementos */
  .labels {
    flex: 1;
    margin-right: 20px;
  }
  
  /* Contenedor de la tabla */
  .tableSection {
    margin-top: 30px;
  }
  
  /* Botones principales */
  .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;

  }
  
  .buttons .MuiButton-root {
    flex: 1;
    margin-right: 10px;
  }
  
  .buttons .MuiButton-root:last-child {
    margin-right: 0;
  }
  
  /* Estilo de los encabezados de las secciones */
  .sectionHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Tabla */
  .MuiTable-root {
    min-width: 100%;
  }
  
  .MuiTableHead-root {
    background-color: #8B0000; /* Rojo oscuro para el encabezado */
  }
  
  .MuiTableHead-root .MuiTableCell-root {
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
  }
  
  .MuiTableBody-root .MuiTableCell-root {
    padding: 8px;
    text-align: center;
  }
  
  /* Paginación */
  .MuiTablePagination-root {
    justify-content: center;
    margin-top: 10px;
  }
  
  /* Botones de acción */
  .buttons .MuiButton-containedPrimary {
    background-color: #8B0000;
  }
  
  .buttons .MuiButton-containedPrimary:hover {
    background-color: #a10000;
  }
  
  .buttons .MuiButton-outlinedPrimary {
    border-color: #8B0000;
    color: #8B0000;
  }
  
  .buttons .MuiButton-outlinedPrimary:hover {
    background-color: #f8d7da;
  }
  
  /* Contenedor para el título */
  .container .MuiTypography-h4 {
    margin-bottom: 30px;
    text-align: center;
  }
  

  .exportButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .exportButtons .MuiButton-root {
    background-color: #8b0000; /* Rojo oscuro */
    color: #fff;
    font-weight: bold;
  }
  
  .exportButtons .MuiButton-root:hover {
    background-color: #a10000; /* Más claro al pasar el mouse */
  }

  .columnSelector {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
    

 /* ChequeManager.module.css */

.iconButton {
  position: relative; /* Permite ajustar libremente la posición */
  top: 48px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la parte derecha */
  background-color: #ffffff; /* Fondo blanco para el botón */
  border-radius: 50%; /* Forma circular */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.)
}

/* Contenedor de botones de acción */
.actionButtons {
  display: flex;
  justify-content: space-between; /* Los botones se distribuyen de forma uniforme */
  align-items: center; /* Alineación vertical */
  gap: 10px; /* Espaciado entre los botones */
  margin-top: 20px; /* Margen superior */
}

/* Botón de "Generar Pólizas" */
.generatePolizasButton {
  background-color: #1976d2; /* Azul estándar */
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  transition: all 0.3s ease;
  
}

.generatePolizasButton:hover {
  background-color: #115293; /* Azul más oscuro al pasar el mouse */
}

/* Botón de "Cambiar Tipo de Pago" */


/* Ocultar el botón cuando no hay cheques seleccionados */
.hidden {
  visibility: hidden; /* Oculto pero conserva su espacio */
}

.searchSection {
  margin-bottom: 16px;
}

.searchBar {
  margin-bottom: 8px;
}

.tableHeader {
  text-transform: uppercase;
  font-weight: bold; /* Opcional para mayor énfasis */
}

.lastChequeSection {
  margin-bottom: 16px;
  text-align: center;
}
