.container {
    padding: 1rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
    color: #4a4a4a;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .searchBar {
    width: 50%;
  }
  
  .tableContainer {
    margin-top: 1rem;
  }
  
  .pagination {
    margin-top: 1rem;
  }
  
