/* Aquí va todo el CSS adaptado a las clases que usas en los componentes */
.container {
  max-width: 1600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.imgEncabezado {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.tableSection {
  margin-top: 20px;
  overflow-x: auto;
}
.tableSection table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.tableSection th, .tableSection td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
.tableSection th {
  background-color: #8d1409;
  color: #ddd;
}
.actions {
  margin-top: 20px;
  color: #ddd;
}
.actions button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #ddd;
}

.actions button:hover {
  background-color: #005bb5;
}

.extraButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.extraButtons button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.actions .new {
  background-color: #8d1409;
  color: #ddd; 
  position: relative;
  right: 00.8%;/* Naranja para el botón de cambio de tipo de pago */
}

.actions .generate  {
  background-color: #8d1409;
  color: #ddd; /* Naranja para el botón de cambio de tipo de pago */
}
.extraButtons .cambiarTipoPago {
  background-color: #8d1409;
  color: #ddd; /* Naranja para el botón de cambio de tipo de pago */
}

.extraButtons .cambiarTipoPago:hover {
  background-color: #8d1409; /* Hover naranja más oscuro */
  color:#ddd;
}

.extraButtons .generarPoliza {
  background-color: #8d1409;
  color: #ddd; 
  /* Verde para el botón de Generar Póliza */

}

.extraButtons .generarPoliza:hover {
  background-color: #8d1409; /* Hover verde más oscuro */
  color: #ddd;
}

.labels {
  width: 20vw;
  height: 6vh;
  margin: 2rem;
}

.buttons{
  background-color: #8d1409 !important;
  color:#ddd;
}

.buttonsOut{
  border-color: #8d1409 !important;
  color: #8d1409 !important;
}

/* Agrega este estilo en tu archivo CSS */

.last-folio-label {
  color: rgb(250, 8, 8);
  font-size: 18px;
  margin-top: 10px;
  position: relative;
  left: 400px;
  top: -70px;
}

