.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.card {
    width: 100%;
    max-width: 600px;
    margin: 2rem;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.info {
    margin-top: 1rem;
}

.licencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cambiar {
    text-align: center;
    margin-top: 1rem;
}
