.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 100%;
    max-width: 600px;
    margin: 2rem;
    background-color: white;
    border-radius: 12px;
    border: 15px solid #711c31;
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.info {
    margin-top: 1rem;
}

.licencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cambiar {
    text-align: center;
    margin-top: 1rem;
}
