/* GestorPolizas.module.css */
.container {
    max-width: 110 0px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    color: #9f2241;
}

.imgEncabezado {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.h1,
.h2 {
    text-align: center;
    color: #b9274b;
}

.inputGroup,
.tableSection {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    color: #9f2241;
}

.input,
.button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #8B2635;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #711c31;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    background-color: #8B2635;
    color: white;
    font-weight: bold;
}

.table td {
    background-color: #f9f9f9;
    color: #333;
}

.table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

.table tr:hover td {
    background-color: #f0e0e0;
}

.labels {
    width: 20vw;
    height: 6vh;
    margin: 2rem;
}

.buttons {
    background-color: #8d1409 !important;
    color: white !important;
}

.buttonsOut {
    border-color: #8d1409 !important;
    color: #8d1409 !important;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}