.container {
    margin: 20px auto;
    max-width: 95%; /* Centra la tabla y la ajusta a la pantalla */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo ligero */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
    color: #800000; /* Color del título en rojo oscuro */
    text-align: center;
    font-weight: bold;
}

.tableContainer {
    margin-top: 20px;
    border: 1px solid #800000; /* Bordes exteriores de la tabla */
    border-radius: 8px;
}

.tableHead {
    background-color: #800000; /* Color de fondo del encabezado */
    color: white; /* Texto blanco */
    font-weight: bold;
}

.tableCell {
    text-align: center; /* Centra el contenido de cada celda */
    font-size: 0.95rem; /* Ajusta el tamaño de fuente */
}

.tableCellHeader {
    font-size: 1rem; /* Tamaño de fuente más grande para el encabezado */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold;
}

.tableRow:nth-of-type(odd) {
    background-color: #f2f2f2; /* Fondo claro para filas impares */
}

.tableRow:nth-of-type(even) {
    background-color: white; /* Fondo blanco para filas pares */
}

.loading {
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-style: italic;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #800000;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.exportacion {
    display: flex;
    justify-content: right;
    margin-top: -3rem;
    gap: 3px;
}

.generar {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
}