.main {
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.h1 {
    text-align: center;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.selectorContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.datePicker {
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.h2 {
    background-color: #bc955c;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem !important;
}

.buttonContainer {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.exportButton {
    background-color: var(--color-primary);
    border: none;
    color: white !important;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 2rem;
}

.exportButton:hover {
    background-color: var(--color-primary-dark);
}

.uploadButton {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--color-secondary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: var(--color-secondary-dark);
}



