.card {
    margin: 20px;
}

.scrollContainer {
    overflow-x: auto;
}

.dataTable {
    width: 100%;
}

.noCoinciden {
    color: white;
    background-color: #d31525; /* rojo claro */
}

.cambioCuenta {
    color: white;
    background-color: #c6c622; /* naranja claro */
}

.incompleto {
    color: white;
    background-color: #427cb1; /* morado claro */
}
