/* No sirve de nada, solo para experimentar colores */

.clase-inutil{
    color: #b9274b;
    color: #9f2241;
    color: #711c31;
}

.clase2{
    color: #e2b673;
    color: #bc955c;
    color: #987849;

    color: #358874;
    color: #235b4e;
    color: #1b473d;

    color: #b9274b;
    color: #9f2241;
    color: #711c31;

}