/* src/app/comparative/page.module.css */
.main {
    padding: 20px;
    overflow-x: auto;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #bc955c;
    padding: 1rem;
    border-radius: 10px;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legendItem {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.legendColor {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.noCoinciden {
    color: white;
    background-color: #9f2241; /* rojo claro */
}

.cambioCuenta {
    color: white;
    background-color: #bc955c; /* naranja claro */
}

.incompleto {
    color: white;
    background-color: #235b4e; /* morado claro */
}


.table2{
    margin-top: 2rem;
    padding-top: 2rem;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}