/* Colores personalizados para los botones */
.button-gold {
    background-color: #bc955c !important;
    border-color: #bc955c !important;
    color: white !important;
}

.button-teal {
    background-color: #235b4e !important;
    border-color: #235b4e !important;
    color: white !important;
}

.button-red {
    background-color: #9f2241 !important;
    border-color: #9f2241 !important;
    color: white !important;
}

/* Añadir márgenes a los botones */
.button-margin {
    margin-right: 8px;
}

/* Cambiar el color de los iconos dentro de los botones */
.button-gold .pi {
    color: white !important;
}

.button-teal .pi {
    color: white !important;
}

.button-red .pi {
    color: white !important;
}