.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #fff, #F6F1F1, #D8C1A3);
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 77vw;
    position: relative;
}

.h1, .h2 {
    text-align: center;
    color: #8B2635;
    font-weight: bolder;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    color: #8B2635;
    margin-bottom: 10px;
    display: block;
}

.input, .select, .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea {
    resize: vertical;
}

.actions {
    background-color: #8B2635 !important;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.actions:hover {
    background-color: #BB905B;
}

/* Barra de búsqueda */
.searchBar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.searchInput {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.searchInput:focus {
    outline: none;
    border-color: #8B2635;
}

/* Tabla */
.tableSection {
    margin-top: 30px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table input[type="checkbox"] {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

/* Mantén el CSS proporcionado inicialmente con las siguientes actualizaciones */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #8B2635;
    background-color: #8B2635;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #BB905B;
}
