.container {
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #800000;
    margin-bottom: 20px;
}

.uploadButton {
    margin: 10px 0;
}

.fileName {
    margin: 10px 0;
    color: #888;
    font-size: 14px;
}

.submitButton {
    margin-top: 20px;
}

.exportButtons {
margin-bottom: 2rem;    
margin-top: 2rem
;
}