.image {
    width: 400px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    margin: 1rem;
}

.card{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #4B4B5C;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2rem;
}

.tWhite{
    color: white;
}