.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Para asegurar que tome toda la altura de la pantalla */
    overflow: hidden; /* Para evitar el desplazamiento */
}

.tableContainer {
    width: 100%;
    overflow: auto; /* Permitir desplazamiento si es necesario dentro del contenedor */
}

