.container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}



.title {
  background-color: #d4a373;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.searchContainer {
  margin-bottom: 20px;
}

.searchField {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.employeeForm {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.input {
  flex: 1;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.verCambios {

  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.volver {
  margin-top: 10px;
}

.dialogContent {
  padding: 0;
}

/* Estilos específicos para la tabla */
.tableContainer {
  width: 100%;
  margin-top: 20px;
}

.tableHead {
  background-color: #9b1d1d;
  /* Rojo oscuro para encabezado */
  color: #ffffff;
}

.tableHead .headerCell {
  color: white;
  font-weight: bold;
  text-align: center;
}

.tableBody .row {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.tableBody .row:hover {
  background-color: #f9f9f9;
}

.exportButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Ajustes para el modal */
.dialog {
  padding: 20px;
}

.dialogTitle {
  color: #9b1d1d;
  /* Rojo oscuro */
  font-weight: bold;
}

.dialogActions {
  justify-content: space-between;
}

/* Botones de acción */
.button {
  text-transform: capitalize;
}

.button[variant="contained"] {
  background-color: #9b1d1d;
  color: white;
}

.button[variant="contained"]:hover {
  background-color: #801616;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;  
  width: 35vw;
  padding: .001px !important;

  
}


/* Ajustes responsivos */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .searchField {
    flex-direction: column;
    gap: 5px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 5px;
  }
}