/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: none;
}

:root {
  --color-primary-light: #b9274b;
  --color-primary-main: #9f2241;
  --color-primary-dark: #711c31;
  --color-primary-contrastText: #fff;
  --color-secondary-light: #e2b673;
  --color-secondary-main: #bc955c;
  --color-secondary-dark: #987849;
  --color-secondary-contrastText: #000;
}

body {
  background: linear-gradient(to bottom, #F6F1F1 80%, #bc955c 100%); /* Degradado de blanco a #bc955c */
  font-family: 'Montserrat', sans-serif;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Ancho de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #9f2241; /* Color del "pulgar" */
  border-radius: 10px; /* Esquinas redondeadas */
  border: 3px solid #9f2241; /* Espacio alrededor del "pulgar" */
}

/* Estilo para la barra de desplazamiento en Firefox */
html {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #9f2241 #fff/* Color del "pulgar" y la pista */
}
