.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  color: #b22234;
  font-weight: bold;
}


.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: #b22234;
  color: white;
  font-weight: bold;
}
