.appBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.customTabMenu {
    background-color: var(--custom-bg-color) !important;
    /* Color de fondo personalizado */
    width: 100%;
}

.customTabMenuNav {
    background-color: #24242c !important;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.customTabMenuItem {
    color: var(--custom-text-color) !important;
    /* Color del texto de los ítems */
    flex: 1;
    text-align: center;
}

.customTabMenuItemLink:hover {
    background-color: #104674 !important;
    /* Color de fondo al pasar el mouse */
    color: var(--custom-text-color) !important;
    /* Color del texto al pasar el mouse */
}

.customTabMenuItemLink {
    background-color: var(--custom-bg-color) !important;
    /* Color de fondo de los ítems */
    color: var(--custom-text-color) !important;
    /* Color del texto de los ítems */
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    width: 400px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    margin: 1rem;
}
