/* src/app/Comparativa.module.css */

.main {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

.selectorContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.backButton{
    color: white !important;
    margin-top: 4rem !important;
}