.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createButton {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.exportButton {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
