.main{
    min-height: 100vh;
    margin: 1rem;
}

.mainLista{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 1rem;
}

.h1 {
    text-align: center;
    color: white;
    background-color: #bc955c;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mainButton{
    color: white;
    background-color: #bc955c;
    position: absolute;
    translate: 500px 260px;
    display: none;
}

