/* src/app/%Components/FileUpload/FileUpload.module.css */
.fileUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.uploadButton {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: #218838;
}

.progressContainer {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.progressContainer .p-progressbar {
    height: 20px;
    border-radius: 10px;
}

.progressContainer .p-progressbar .p-progressbar-value {
    border-radius: 10px;
}

.progressContainer .p-progressbar-value-animate {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}

.progressBar{
    text-align: center;
}