.dataTableWrapper {
    overflow-x: auto;
    width: 100%;
    height: 600px; /* Ajusta la altura del contenedor */
}

.flex {
    display: flex;
}

.alignItemsCenter {
    align-items: center;
}

.justifyContentEnd {
    justify-content: end;
}

.gap2 {
    gap: 2rem;
}

.card {
    overflow-x: auto;
    padding: 1rem;
    margin: auto;
    max-width: 80vw;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: #bc955c !important;
    color: white !important;
}
